force-app/main/default/flows/Send_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Student_Notification</name>
        <label>Copy 1 of Send Student Notification</label>
        <locationX>94</locationX>
        <locationY>1367</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Record.Body_PlainText__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientsId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_recipientsId</name>
        <label>assign recipientsId</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>RecipientsId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Student_Info.User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_get_Student_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_recipientsId_2</name>
        <label>assign recipientsId 2</label>
        <locationX>490</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RecipientsId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_recipientsId_for_Non_classes.User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_recipientsId_for_Non_classes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Class_Notifications</name>
        <label>Check If Class Notifications</label>
        <locationX>226</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Student_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Class Noti</defaultConnectorLabel>
        <rules>
            <name>Is_Class_Noti</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject_Class__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subject_Registration</targetReference>
            </connector>
            <label>Is Class Noti</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_has_RecipientIds</name>
        <label>If has RecipientIds</label>
        <locationX>226</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Recipients</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientsId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_Student_Notification</targetReference>
            </connector>
            <label>Has Recipients</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Notification</label>
    <loops>
        <name>Assign_recipientsId_for_Non_classes</name>
        <label>Assign recipientsId for Non classes</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <collectionReference>Student_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_recipientsId_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_has_RecipientIds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_get_Student_List</name>
        <label>Loop to get Student List</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Subject_Registration</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Student_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_has_RecipientIds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Custom_Notification_Type</name>
        <label>Custom Notification Type</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Class_Notifications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>For_Student</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Student_Info</name>
        <label>Student Info</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_recipientsId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_to_get_Student_List.Student__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Student__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Student_List</name>
        <label>Student List</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_recipientsId_for_Non_classes</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Faculty__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Faculty__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Student__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Subject_Registration</name>
        <label>Subject Registration</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_get_Student_List</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Subject_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject_Class__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subject_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_Notification_Type</targetReference>
        </connector>
        <object>Notification__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecipientsId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
